.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold !important;
    font-size: 40px !important;
    background-color: black;
    text-transform: capitalize;
}

.form-control {
    border-radius: 5px 0px 5px 0px;
    width: 400px !important;
    height: 50px !important;
}


.navbar-nav {
    color: white !important;
}

.navbar-brand .img-1 {
    position: absolute;
    backface-visibility: hidden;
    transition: 5s;
}



.navbar-brand .img2 {
    transform: rotateY(90deg);
}

.navbar:hover .img-2 {
    transform: rotateY(0deg);

}

.btn {
    color: black;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
}


.btn:hover {
    color: white !important;
    background-color: black !important;
}

.carousel-item {
    height: 90vh;
}

.ser {
    border: 2px solid black;

}

.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100%;
    box-shadow: 10px 10px 20px #bfe5ec;
    border: 2px solid black;
}

.col-md-4:hover {
    box-shadow: 30px 30px 30px rgb(112, 248, 241);
    border: 20px solid black;
    border-radius: 10px;
}

.text-center {
    padding: 100px;
}


